<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thelearningproject.applogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".infraestrutura.gui.SplashScreenActivity"
            android:theme="@style/AppCompat.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".infraestrutura.gui.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".infraestrutura.gui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".pessoa.gui.CriarContaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".infraestrutura.gui.TermosActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".perfil.gui.HabilidadeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".pessoa.gui.ConfiguracaoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".infraestrutura.gui.HomeActivity" />
        <activity android:name=".perfil.gui.CadastroHabilidadeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".infraestrutura.gui.BuscaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".perfil.gui.NecessidadeActivity" />
        <activity android:name=".pessoa.gui.AlterarNomeActivity" />
        <activity android:name=".pessoa.gui.AlterarEmailActivity" />
        <activity android:name=".pessoa.gui.AlterarSenhaActivity" />
        <activity android:name=".perfil.gui.CadastroNecessidadeActivity" />
        <activity android:name=".perfil.gui.ListarHabilidadesActivity" />
        <activity android:name=".perfil.gui.ListarNecessidadesActivity"></activity>
    </application>

</manifest>