<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thelearningproject.applogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".infra.gui.SplashScreenActivity"
                  android:theme="@style/AppCompat.FullScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name=".infra.gui.MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".usuario.gui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".usuario.gui.CadastroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".infra.gui.TermosActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".perfil.gui.HabilidadeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".infra.gui.ConfiguracaoActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".infra.gui.MainActivity"/>
        </activity>
        <activity android:name=".infra.gui.HomeActivity" />
        <activity android:name=".infra.gui.CadastroMateriaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infra.gui.MainActivity"/>
        </activity>
        <activity android:name=".infra.gui.BuscaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infra.gui.MainActivity"/>
        </activity>
    </application>

</manifest>