<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thelearningproject.applogin">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".infraestrutura.gui.BuscaActivity" />

        <activity
            android:name=".infraestrutura.gui.SplashScreenActivity"
            android:theme="@style/AppCompat.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".infraestrutura.gui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".pessoa.gui.CriarContaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".infraestrutura.gui.TermosActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".perfil.gui.HabilidadeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".perfil.gui.NecessidadeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".infraestrutura.gui.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".pessoa.gui.ConfiguracaoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".pessoa.gui.AlterarNomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pessoa.gui.ConfiguracaoActivity" />
        </activity>
        <activity android:name=".pessoa.gui.AlterarEmailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pessoa.gui.ConfiguracaoActivity" />
        </activity>
        <activity android:name=".pessoa.gui.AlterarSenhaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pessoa.gui.ConfiguracaoActivity" />
        </activity>
        <activity android:name=".perfil.gui.CadastroNecessidadeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".perfil.gui.ListarNecessidadesActivity" />
        </activity>
        <activity android:name=".perfil.gui.CadastroHabilidadeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".perfil.gui.ListarHabilidadesActivity" />
        </activity>
        <activity android:name=".perfil.gui.ListarHabilidadesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".perfil.gui.ListarNecessidadesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infraestrutura.gui.MainActivity" />
        </activity>
        <activity android:name=".pessoa.gui.AlterarDescricaoActivity" />
        <activity android:name=".pessoa.gui.RecuperarContaActivity" />
        <activity android:name=".pessoa.gui.ConfimaRecuperarActivity" />
        <activity android:name=".pessoa.gui.AlterarTelefoneActivity"></activity>
    </application>

</manifest>